# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=demo

# Spring Datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/demo
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Spring Profiles
SPRING_PROFILES_ACTIVE=dev

# ECS Logging
SPRING_LOG_SERVICE_NAME=Demo
SPRING_LOG_VERSION=1
SPRING_LOG_NODE_NAME=primary
